<html>
<head>
    <title>Forge Networking Web Server</title>
</head>
<body>
    <h1>Hello World!</h1>
    <div>
        <a href="Index">Home</a> | <a href="Cmd">Commands</a>
    </div>
    <table>
        <tr>
            <td>Player Count</td>
            <td><% playerCount %></td>
        </tr>
        <tr>
            <td>Start Time</td>
            <td><% startTime %></td>
        </tr>
        <tr>
            <td>Run Time</td>
            <td><% runTime %></td>
        </tr>
        <tr>
            <td>Bandwidth In</td>
            <td><% bandwidthIn %></td>
        </tr>
        <tr>
            <td>Bandwidth Out</td>
            <td><% bandwidthOut %></td>
        </tr>
    </table>
</body>
</html>